<%= render_navbar_for('邀请朋友得优惠', 
{ icon: 'fa fa-angle-left', link: "#{settings_wechat_shop_user_path}" }) %>

<a href="javascript:;" onclick="share()">邀请朋友</a>

<% content_for :scripts do %>
<script>
function share() {
  WeixinJSBridge.invoke('shareTimeline',{
  		"img_url":'https://www.baidu.com/',
  		//"img_width":"640",
  		//"img_height":"640",
  		"link":'https://www.baidu.com/',
  		"desc": 'test',
  		"title": 'this is title'
  	});
  // wx.onMenuShareAppMessage({
  //     title: 'test', // 分享标题
  //     desc: 'ddd', // 分享描述
  //     link: 'https://www.baidu.com', // 分享链接
  //     imgUrl: '', // 分享图标
  //     type: '', // 分享类型,music、video或link，不填默认为link
  //     dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
  //     success: function () { 
  //         // 用户确认分享后执行的回调函数
  //         console.log('success');
  //     },
  //     cancel: function () { 
  //         // 用户取消分享后执行的回调函数
  //         console.log('cancel');
  //     }
  // });
}
</script>
<% end %>