<%= render_navbar_for('获得的奖励', 
{ icon: 'fa fa-angle-left', link: "#{settings_wechat_shop_user_path}" }) %>

<div class="rewards">
  
  <% if @rewards.empty? %>
    <%= render_empty_result('没有奖励!') %>
  <% else %>
    
  <% end %>
  
</div>

  