<div class="box">
  <a class="home-help-link">农家：让城里人直接购买乡下的土货 ></a>
</div>

<div class="home-products">
  <% @products.each_with_index do |product, index| %>
  <div class="product <%= index % 2 == 1 ? "product-pull-right" : "" %>">
    <a class="product-link">
      <%= image_tag product.images.first.url(:small) %>
      <div class="product-info">
        <h2 class="title"><%= product.title %></h2>
        <p class="price">¥ <%= product.price %></p>
      </div>
    </a>
  </div>
  <% end %>
</div>