// 首页
.home-help-link-container {
  margin-top: 30px;
}

.box .home-help-link {
  display: block;
  width: 100%;
  padding: 2px 0;
  text-align: center;
  color: $w_green;
  font-size: 1.2em;
  text-decoration: none;
}

.home-products {
  margin-top: 20px;
  margin-bottom: 60px;
  clear: both;
  .product {
    float: left;
    width: 48%;
    margin-bottom: 4%;
    border: 1px solid #eaeaea;
//    border-radius: 4px;
//    -webkit-border-radius: 4px;
//    -moz-border-radius: 4px;
    
    .product-link {
      display: block;
      text-decoration: none;
      cursor: pointer;
      width: 100%;
      height: 100%;
      color: $w_black;
    }
    
    img {
      display: block;
//      border-radius: 4px;
//      -webkit-border-radius: 4px;
//      -moz-border-radius: 4px;
      width: 100%;
      height: auto;
//      margin-bottom: -10px;
    }
    
    .product-info {
      padding: 10px;
      h2 {
        font-size: 1.2em;
        font-weight: normal;
        margin: 0;
        padding: 0;
      }
      p {
        font-size: 1.2em;
        color: $w_green;
        margin: 0;
        padding: 0;
      }
    }
  }
  
  .product-pull-right {
    float: right;
  }
}

.wechat-shop-tabbar {
  list-style: none;
  clear: left;
  margin: 0;
  padding: 0;
  li {
    float: left;
    
    margin: 0;
    padding: 0;
    
    width :33.333333%;
    height: $w_tabbarHeight;
    line-height: $w_tabbarHeight;
    
    text-align: center;
    font-size: 1.2em;

    a {
      display: block;
      width: 100%;
      height: 100%;
      color: $w_black;
      text-decoration: none;
    }
    
    &.active {
      a {
        color: $w_green;
      }
      
    }
  }
}