.nj-home-bak {
  background: url(asset-path('wechat_shop/icon-home.gif')) no-repeat center center;
  background-size: 24px;
  display: inline-block;
  width: 30px;
  height: 30px;
//  line-height: 30px;
//  background-color: red;
  margin-right: -2px;
  margin-bottom: -4px;
}
.new-order{
  
  padding-bottom: 60px;
  .empty-section {
    height: 14px;
    background-color: rgb(241,241,241);
  }
  .input-item {
    text-decoration: none;
    display: block;
    width: 100%;
    color: $w_black;
    padding: 15px;
//    padding-bottom: 0;
    clear: both;
    font-size: 1.1em;
//    border-bottom: 1px solid $w_borderColor;
    .order-shipment-table {
      width: 100%;
      td {
        h2 {
          font-size: 1.1em;
        }
        vertical-align: middle;
      }
    }
    
    .coupon-tips {
      font-size: 1em;
      color: red;
      padding-right: 5px;
    }
    
    .shipment-intro {
      margin-bottom: 5px;
      font-size: 1.1em;
    }
    .note-field {
      width: 100%;
      padding: 10px;
      
      border: 0;
      border: 1px solid #eee;
      
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      
      -webkit-appearance: none;
      -moz-appearance: none;
      
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      
      outline: none;
      &:focus {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none; 
        outline: none;
      };
    }
  }
  
  .shipment-intro-item {
    padding-top: 0;
    margin-top: -3px;
    .note-field {
      margin-top: 4px;
    }
    
  }
  .fee-info-table {
    width: 100%;
    td {
      vertical-align: middle;
      font-size: 1.1em;
    }
    .td-label {
      width: 60%;
//      font-weight: bold;
    }
    .td-value {
      width: 40%;
      text-align: right;
      color: $w_green;
    }
    .discount {
      color: red;
    }
  }
  
  .product-info-table {
    width: 100%;
    table-layout:fixed;
    
    tr {
      border-bottom: 0.5px solid $w_borderColor;
    }
    
    .product-image {
      width: 20%;
      padding-bottom: 7px;
      img {
        width: 60px;
        height: 60px;
      }
    }
    
    .product-caption {
      padding-bottom: 7px;
      vertical-align: top;
      padding-left: 10px;
      padding-right: 10px;
//      width: 80%;
      word-wrap: break-word;
    }
  }
  
}

.toolbar-item {
  .total-fee {
    text-align: left;
    padding-left: 15px;
  }
  
  .pay {
    background-color: $w_green;
    height: 51px;
    line-height: 51px;
    margin-top: -1px;
    a {
      display: block;
      color: white;
      text-decoration: none;
    }
  }
}

.segments {
  margin-top: -50px;
  width: 100%;
  height: 44px;
  border-bottom: 1px solid $w_borderColor;
  margin-bottom: 15px;
  clear: both;
  
  .segment-item {
    display: block;
    float: left;
    width: 33.333333%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: $w_black;
    border-right: 1px solid $w_borderColor;
    &:last-child {
      border: 0;
    };
    text-decoration: none;
    
    &.active {
      color: $w_green;
    }
  }
}

.orders {
  margin-bottom: 53px;
  width: 100%;
  padding: 0 10px;
  .order {
    position: relative;
    display: block;
    width: auto;
    text-decoration: none;
    
    .pay-button {
      color: white;//$w_green;
      background-color: $w_green;
      padding: 5px; 
//      padding-right:0; 
      text-decoration: none;
    }
    
    .nb-state-container {
      width: 80px;
      height: 80px;
    
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    
      border: 1px solid #ccc;
    
      position: absolute;
      top: 5%;
      right: 5%;
      z-index: 888;
   
      text-align: center;
      font-size: 1.2em;
      font-weight: bold;
      line-height: 80px;
    
      &.rotate {
        /* Safari */
        -webkit-transform: rotate(-45deg);

        /* Firefox */
        -moz-transform: rotate(-45deg);

        /* IE */
        -ms-transform: rotate(-45deg);

        /* Opera */
        -o-transform: rotate(-45deg);

        /* Internet Explorer */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

      }
    
      border: 1px solid #aaa;
      color: #aaa;
    
      &.canceled-state {
        border: 1px solid red;
        color: red;
      }
    
      &.completed-state {
        border: 1px solid $w_green;
        color: $w_green;
      }
    
    }
  
    .state {
      padding: 5px;
      font-size: 0.9em;
    }
  
    .panel-title {
      font-size: 1em;
      font-weight: normal;
      color: $w_black;
    }
    
    .base-info {
      margin-left: 70px;
      .product-title {
        font-size: 1em;
        margin-bottom: 5px;
        word-wrap: break-word;
      }
      .quantity {
        font-size: 0.9em;
        color: #aaa;
      }
    }
  }
  
}

.order-detail {
  background-color: #eaeaea;
  .base-info {
    p {
      padding: 2px 0;
      font-size: 1em;
    }
  }
  
  .express-info {
    h2 {
      font-size: 1.2em;
      color: $w_green;
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }
  
  .pay-tip-block {
    h2 {
      padding-top: 5px;
      font-size: 1.2em;
      font-weight: normal;
    }
    
    .pay-button {
      display: block;
      width: 100%;
      height: 50px;
      line-height: 50px;
      text-align: center;
      margin: 0 auto;
      margin-top: 10px;
      margin-bottom: 5px;
      background-color: $w_green;
      color: white;
      text-decoration: none;
      font-size: 1.1em;
    }
  }
  
  .order-detail-item {
    margin-bottom: 15px;
    background-color: white;
    padding: 10px 15px;
  }
  
  .products-table {
    width: 100%;
    table-layout:fixed;
    
    .item-row {
      border-bottom: 1px solid $w_borderColor;
    }
    
    td {
      vertical-align: middle;
      word-wrap: break-word;
      padding: 10px 0;
      font-size: 1.1em;
    }
    
    .product-icon {
      width: 25%;
//      background-color: red;
    }
    .product-title {
      width: 55%;
      vertical-align: top;
//      padding-left: 10px;
    }
    
    .other-info {
      vertical-align: top;
      width: 20%;
      text-align: right;
    }
    
  }
  
  .shipment-info {
    
    h2 {
      font-size: 1.2em;
    }
    p {
      font-size: 1em;
      padding: 2px 0;
    }
    .mobile {
      padding-left: 10px;
    }
  }
}
