.new-order{
  
  .input-item {
    text-decoration: none;
    display: block;
    width: 100%;
    color: $w_black;
    padding: 15px;
    clear: both;
    font-size: 1em;
    border-bottom: 1px solid $w_borderColor;
    
    .order-shipment-table {
      width: 100%;
      td {
        h2 {
          font-size: 1.2em;
        }
        vertical-align: middle;
      }
    }
    
    .shipment-intro {
      margin-bottom: 5px;
    }
    .note-field {
      width: 100%;
      padding: 10px;
      border: 1px solid #eee;
    }
  }
  
  .fee-info-table {
    width: 100%;
    td {
      vertical-align: middle;
    }
    .td-label {
      width: 60%;
      font-weight: bold;
    }
    .td-value {
      width: 40%;
      text-align: right;
    }
    .discount {
      color: red;
    }
  }
  
  .product-info-table {
    width: 100%;
    .product-image {
      width: 20%;
      img {
        width: 60px;
        height: 60px;
      }
    }
    
    .product-caption {
      vertical-align: top;
      padding-left: 10px;
      padding-right: 10px;
      width: 80%;
    }
  }
  
}

.order-toolbar {
  background-color: rgb(20,20,20);
  clear: both;
  
  height: $w_toolbarHeight;
  line-height: $w_toolbarHeight;
  
  .toolbar-item {
    float: left;
    
    height: 100%;
    
    text-align: center;
    font-size: 1.2em;
    color: white;
  }
  
  .total-fee {
    width: 60%;
    text-align: left;
    padding-left: 15px;
  }
  
  .pay {
    width: 40%;
    float: right;
    background-color: red;
    a {
      display: block;
      background-color: $w_green;
      width: 100%;
      height: 100%;
      color: white;
      text-decoration: none;
    }
  }
}

.segments {
  margin-top: -50px;
  width: 100%;
  height: 44px;
  border-bottom: 1px solid $w_borderColor;
  margin-bottom: 15px;
  clear: both;
  
  .segment-item {
    display: block;
    float: left;
    width: 33.333333%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: $w_black;
    border-right: 1px solid $w_borderColor;
    &:last-child {
      border: 0;
    };
    text-decoration: none;
    
    &.active {
      color: $w_green;
    }
  }
}

.order {
  position: relative;
  
  .nb-state-container {
    width: 80px;
    height: 80px;
    
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    
    border: 1px dashed #ccc;
    
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 888;
   
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 80px;
    
    &.rotate {
      /* Safari */
      -webkit-transform: rotate(-45deg);

      /* Firefox */
      -moz-transform: rotate(-45deg);

      /* IE */
      -ms-transform: rotate(-45deg);

      /* Opera */
      -o-transform: rotate(-45deg);

      /* Internet Explorer */
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

    }
    
    border: 1px dashed #aaa;
    color: #aaa;
    
    &.canceled-state {
      border: 1px dashed #aaa;
      color: #aaa;
    }
    
    &.completed-state {
      border: 1px dashed red;
      color: red;
    }
    
  }
  
  .state {
    padding: 5px;
    font-size: 0.9em;
  }
  
  .panel-title {
    font-size: 1em;
    font-weight: normal;
    color: $w_black;
  }
  .base-info {
    margin-left: 70px;
    .product-title {
      font-size: 1em;
      margin-bottom: 5px;
    }
    .quantity {
      font-size: 0.9em;
      color: #aaa;
    }
  }
}