// 产品详情页面
.input-digit-control {
  background-color: $w_borderColor;
  width: 90%;
  height: 34px;
  line-height: 34px;
  margin-top: 8px;
  border-radius: 17px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  clear: both;
  color: $w_black;
  .adds-on {
    display: block;
    height: 34px;
    line-height: 34px;
//    height: 100%;
    width: 30px;
    color: $w_black;
    font-size: 1.2em;
    text-decoration: none;
    &.plus {
      float: right;
      margin-right: 2px;
    }
    &.minus {
      float: left;
      margin-left: 2px;
    }
  }
}

.toolbar-item {
    .price {
      font-size: 1.2em;
      text-align: left;
      padding-left: 15px;
      width: 100%;
    }
    .buy {
      width: 100%;
      background-color: $w_green;
      text-align: center;
      height: 51px;
      line-height: 50px;
      margin-top: -1px;
      &.no-stock {
        background-color: #ccc;
      }
      a {
        display: block;
        text-decoration: none;
        color: white;
      }
    }
}

.product {
  .base-info {
    padding: 15px;
    .title {
      font-size: 1.2em;
      font-weight: normal;
      line-height: 1.3em;
      color: $w_black;
    }
    .price {
      font-size: 1.5em;
    }
  }
  
  .vertical-divider {
    height: 20px;
    background-color: $w_borderColor;
  }
  
  .detail-info {
    .title {
      font-size: 1.2em;
      padding: 15px;
    }
    margin-bottom: 51px;
  }
}
