.user-header {
  margin-top: -50px;
  width: 100%;
  padding: 6% 0;
  text-align: center;
  background-color: $w_green;
  .nickname {
    margin-top: 10px;
    font-size: 1.2em;
    color: white;
  }
}

.user-info {
  margin-bottom: 50px;
}

.user-info-table {
  width: 100%;
  tr {
//    padding: 20px;
    border-bottom: 1px solid $w_borderColor;
    cursor: pointer;
  }
  
  .invite {
    background: url(asset-path('wechat_shop/icon-invite.gif')) left center no-repeat;
  }
  
  .coupon {
    background: url(asset-path('wechat_shop/icon-coupon.gif')) left center no-repeat;
  }
  
  .address {
    background: url(asset-path('wechat_shop/icon-address.gif')) left center no-repeat;
  }
  
  .service {
    background: url(asset-path('wechat_shop/icon-service.gif')) left center no-repeat;
  }
  
  .help {
    background: url(asset-path('wechat_shop/icon-help.gif')) left center no-repeat;
  }
  
  .row-label-1 {
    background-size: 16px;
    padding-left: 20px;
  }
  
  td {
    vertical-align: middle;
    padding: 15px 0;
    font-size: 1.2em;
    color: $w_black;
  }
  
  .cell-left {
    padding-left: 15px;
    width: 60%;
  }
  
  .cell-right {
    padding-right: 15px;
    text-align: right;
  }
  
  .blank-row-1 {
//    height: 5px;
    background-color: #eaeaea;
    td {
      padding: 10px 0;
    }
  }
  
  .cell-label {
    padding-left: 10px;
  }
}

.share-invite-icon {
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.share-invite-body {
  padding: 0 20px;
  font-size: 1.2em;
}

.share-buttons {
  width: 100%;
  padding: 0 20px;
  clear: both;
  
  position: fixed;
  left: 0;
  bottom: 0;
  
  .share-button {
    display: block;
    float: left;
    width: 48%;
    height: 50px;
    line-height: 50px;
    margin-bottom: 15px;
    text-align: center;
    background-color: $w_green;
    color: white;
    text-decoration: none;
    
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    
    font-size: 16px;
  }
  
  .share-timeline {
    float: right;
    background-color: rgb(236,164,73);//rgb(235,95,72);
  }
}

.share-tip {
  margin-top: 30px;
  text-align: center;
  h2 {
    font-size: 1.5em;
  }
}