<% cache product do %>
<div class="product-images custom-carousel">
  <div id="carousel-images" class="carousel slide" data-ride="carousel" data-interval="3000">    
    <!-- Indicators -->
    <% if product.images.size > 1 %>
    <ol class="carousel-indicators">
      <% product.images.each_with_index do |image_url, index| %>
          <li data-target="#carousel-images" data-slide-to="<%= index %>" class="<%= index == 0 ? "active" : "" %>"></li>
      <% end %>
    </ol>
    <% end %>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <% product.images.each_with_index do |image, index| %>
        <div class="item <%= index == 0 ? "active" : "" %>">
          <%= image_tag image.url(:large), class: 'img-responsive' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>
