/*
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome";

@import "wechat_shop/variables";
@import "wechat_shop/home";
@import "wechat_shop/products";
@import "wechat_shop/orders";
@import "wechat_shop/shipments";

body {
//  padding-top: 30px;
  padding-bottom: 30px;
//  background-color: white;
}

a {
  text-decoration: none;
}

.green {
  color: $w_green;
}

.black {
  color: $w_black;
}

.box {
  width: 100%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  padding: 10px;
  border: 1px solid #eaeaea; 
}

// 回首页按钮
.nb-circle-button {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  
  position: fixed;
  left: 10px;
  top: 10px;
  z-index: 1;

  background-color: rgba(0,0,0,0.7);
  text-align: center;
  color: white;
  font-size: 1.3em;
  &:hover {
    color: white;
  };
}

.wechat-shop-toolbar {
  background-color: rgb(20,20,20);
  clear: both;
  margin: 0;
  padding: 0;
  
  .toolbar-item {
    float: left;
    
    margin:0;
    padding: 0;
    
    width: 33.3333%;
    height: $w_toolbarHeight;
    line-height: $w_toolbarHeight;
    text-align: center;
    font-size: 1.2em;
    color: white;
  }
}