@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome";

@import "wechat_shop/variables";
@import "wechat_shop/home";
@import "wechat_shop/products";
@import "wechat_shop/orders";
@import "wechat_shop/shipments";
@import "wechat_shop/users";

h1,h2,h3,h4,h5,h6,p,img,ul,li,a,table,section,aside {
  margin: 0;
  padding: 0;
}

body {
//  padding-top: 30px;
  padding-bottom: 30px;
//  background-color: white;
}

a {
  text-decoration: none;
}

.green {
  color: $w_green;
}

.black {
  color: $w_black;
}

.box {
  width: 100%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  padding: 10px;
//  margin: 0 0 20px 0;
  background-color: white;
  border: 1px solid $w_borderColor; 
}

// 回首页按钮
.nb-circle-button {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  
  position: fixed;
  left: 10px;
  top: 10px;
  z-index: 168;

  background-color: rgba(0,0,0,0.7);
  text-align: center;
  color: white;
  font-size: 1.3em;
  &:hover {
    color: white;
  };
}

.wechat-shop-tabbar {
  width: 100%;
  
  list-style: none;
  clear: left;
  li {
    float: left;
    
    width :33.333333%;
    height: $w_tabbarHeight;
    line-height: $w_tabbarHeight;
    
    text-align: center;
    font-size: 1.2em;
    border-right: 1px solid $w_borderColor;
    &:last-child {
      border: 0;
    };
    a {
      display: block;
      width: 100%;
      height: 100%;
      color: $w_black;
      text-decoration: none;
    }
    
    &.active {
      a {
        color: $w_green;
      }
      
    }
  }
}

.wechat-shop-toolbar {
  background-color: rgb(20,20,20);
  clear: both;
  
  .toolbar-item {
    float: left;
    
    width: 33.3333%;
    height: $w_toolbarHeight;
    line-height: $w_toolbarHeight;
    text-align: center;
    font-size: 1.2em;
    color: white;
  }
}

.empty-result-box {
  padding: 10px 0;
  width: 168px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: rgb(201,201,201);
  border: 1px dashed rgb(201,201,201);
  margin: 0 auto;
  margin-top: 50%;
}