<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width,height=device-height">
  <title>农家商城</title>
  <%= stylesheet_link_tag 'wechat', media: 'all' %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
  
  <%= yield :toolbar %>
  
  <%= javascript_include_tag 'wechat', 'data-turbolinks-track' => true %>
</body>
</html>