<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
  <title>农家商城</title>
  <%= stylesheet_link_tag 'wechat', media: 'all' %>
  <%= javascript_include_tag 'wechat', 'data-turbolinks-track' => true %>
</head>
<body ontouchstart>
  <div class="container js_container">
    
  </div>
  <%= yield %>
</body>
</html>